src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="users" type="usersType"/>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element name="username">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="ethanjolles"/>
            <xs:enumeration value="andrewnazarenko"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="password">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="sovldIntern"/>
            <xs:enumeration value="solvdProfessor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="usersType">
    <xs:sequence>
      <xs:element type="userType" name="user" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>